body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: #111;
    color: #fff;
    font-family: cursive;
}

#slides-wrapper {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: relative;
}

h3 {
    font-size: 170%;
}

.slide {
    width: 1920px;
    height: 1080px;
    position: absolute;
    top: 0;
    left: 0;
    transform-origin: top left;
    display: none;
    padding: 60px;
    box-sizing: border-box;
    text-align: center;
}

.slide.active {
    display: block;
}

#swot{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

h1 { font-size: 70px; }
h4, h5 { font-size: 40px; }
p { font-size: 32px; }
li { 
    font-size: 32px;
    margin-top: 10px;
}

ul {
    list-style: inside;
}

.slide:nth-child(11){
    margin-top: 10%;
}

.div-right{
    display: flex;
    justify-content: space-around;
    margin-top: 10%;
}

.div-left{
    display: flex;
    justify-content: space-around;
    margin-top: 10%;
}

.ul-style {
    list-style: outside;
}

img {
    max-width: 100%;
}

#progress, #technologie, #cash, #imeges, #marketing{
    height: 300px;
}

 #technologie, #cash{
    margin-top: 20px;
 }

.slide-number {
    position: fixed;
    top: 20px;
    right: 20px;
    font-size: 35px;
    background: rgba(0,0,0,0.5);
    padding: 10px 20px;
    border-radius: 10px;
}

.nav-buttons {
    display: flex;
    justify-content: space-around;
    position: fixed;
    bottom: 40px;
    width: 100%;
    text-align: center;
}

button {
    padding: 20px 50px;
    font-size: 30px;
    border: none;
    border-radius: 12px;
    background: white;
    cursor: pointer;
}

button:hover {
    transform: scale(1.1);
    background: #f0f0f0;
}
